**/*.sh
*config*.yaml
**/*.db
**/*.log
**/*.vscode
**/*.history
**/*.out
**/*__debug_bin
**/web
**/*.identifier
**/id_rsa

# testing
**/coverage

# production

# misc
**/*.DS_Store
**/*package-lock.json*
